services:
  postgres:
    image: postgres
    container_name: prodDB
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    env_file:
      - postgres.env
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
