services:
  postgres:
    image: postgres
    container_name: prodDB
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    env_file:
      - ./db/postgres.env
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  postgres_data:
    name: postgres_data
